
<h1><%= question.statement %></h1>
<div class="questions-container" id="questions-container" data-question-id="<%= question.id %>" data-answer-id="<%= answer_id %>" data-lesson-questions-count="<%= question.lesson.questions.count %>" data-first-question-id="<%= question.lesson.questions.first.id %>">
  <div class="question-cards" data-controller="option-card">
    <div id="questionA" class="question-card questionA"  data-action="click->option-card#markCard">
      <div class="question-answer" >
        <p><%= question.a %></p>
      </div>
      <p class="answer-letter">A</p>
    </div>
    <div id="questionB" class="question-card questionB" data-action="click->option-card#markCard">
      <div class="question-answer">
        <p><%= question.b %></p>
      </div>
      <p class="answer-letter">B</p>
    </div>
    <div id="questionC" class="question-card questionC" data-action="click->option-card#markCard">
      <div class="question-answer">
        <p><%= question.c %></p>
      </div>
      <p class="answer-letter">C</p>
    </div>
    <div id="questionD" class="question-card questionD" data-action="click->option-card#markCard">
      <div class="question-answer">
        <p><%= question.d %></p>
      </div>
      <p class="answer-letter">D</p>
    </div>
  </div>
</div>
