<div class="question-page">
  <div class="question-top-part animate__animated animate__fadeIn">
    <div class="question-close-box">
      <%= link_to user_path(current_user), class:"question-cancel-btn" do %>
        <i class="fa-solid fa-circle-xmark"></i>
      <% end %>
    </div>
    <div class="bar-container-part">
      <div class="bar-container" style="width: 0;">
        <div class="bar-evolution">
          <div class="bar-deco"></div>
        </div>
      </div>
    </div>
    <p></p>
  </div>

  <div class="container-question-page animate__animated animate__fadeIn animate__delay-1s">
    <div class="container-parts">
    <!-- data-lesson-questions-count="<%= @question.lesson.questions.count %>" data-first-question-id="<%= @question.lesson.questions.first.id %>"-->
      <h1><%= @question.statement %></h1>
      <div class="questions-container" id="questions-container" data-question-id="<%= @question.id %>" data-answer-id="<%= @answer_id %>" data-lesson-questions-count="<%= @question.lesson.questions.count %>" data-first-question-id="<%= @question.lesson.questions.first.id %>">
          <div class="question-cards" data-option-card-target="content" data-controller="option-card">
            <div id="questionA" class="question-card questionA"  data-action="click->option-card#markCard">
              <div class="question-answer" >
                <p><%= @question.a %></p>
              </div>
              <p class="answer-letter">A</p>
            </div>
            <div id="questionB" class="question-card questionB" data-action="click->option-card#markCard">
              <div class="question-answer">
                <p><%= @question.b %></p>
              </div>
              <p class="answer-letter">B</p>
            </div>
            <div id="questionC" class="question-card questionC" data-action="click->option-card#markCard">
              <div class="question-answer">
                <p><%= @question.c %></p>
              </div>
              <p class="answer-letter">C</p>
            </div>
            <div id="questionD" class="question-card questionD" data-action="click->option-card#markCard">
              <div class="question-answer">
                <p><%= @question.d %></p>
              </div>
              <p class="answer-letter">D</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="question-footer">
    <div id="question-buttons">
      <button id="confirm-button" class="btn btn-primary" data-controller="next-question" data-action="click->next-question#confirm" disabled>Confirmar resposta</button>
      <div class="correct-answer" id="correct-answer-msg" hidden><%= "Resposta correta!" %></div>
      <p id="correct-answer" hidden><%= @question.correct_answer %></p>
      <p class="wrong-answer" id="wrong-answer-msg" hidden><%= "A resposta correta é #{@question.correct_answer}" %></p>
      <!--<% next_page = @question.lesson.questions.last.id == (@question.id + 1) ? "Lesson page" : (@question.id + 1) %>-->
      <% if @question.lesson.questions.last == @question %>
        <%= button_to 'Resumo da Aula', lesson_path(@question.lesson), method: :get, id:"btn-lesson-review", class:"btn btn-success", disabled: true %>
      <% else %>
        <%= button_to 'Próxima pergunta', question_path(@question.id + 1), method: :get, id:"btn-next-question", class:"btn btn-success", disabled: true %>
      <% end %>
    </div>
    <span id="sound-off" data-controller="next-question" data-action="click->next-question#mute"><i class="fas fa-volume-mute"></i></span>
    <span id="sound-on" data-controller="next-question" data-action="click->next-question#unMute" hidden><i class="fas fa-volume-up"></i></span>
  </div>

</div>
