<div class="container">
  <div class="container-parts">
    <div class="bar-container-part">
      <div class="bar-container">
        <div class="bar-evolution">
          <div class="bar-deco">
          </div>
        </div>
      </div>
    </div>
    <div class="questions-container" id="questions-container" data-question-id="<%= @question.id %>" data-answer-id="<%= @answer_id %>"  >
        <h1 style="margin-bottom: 100px"><%= @question.statement %></h1>
      <div>
        <div class="question-cards" data-option-card-target="content" data-controller="option-card">

          <div id="questionA" class="question-card"  data-action="click->option-card#markCard">
            <div>
              <%= @question.a %><p>A</p>
            </div>
          </div>

          <div id="questionB" class="question-card" data-action="click->option-card#markCard">
            <div>
              <%= @question.b %><p>B</p>
            </div>
          </div>

          <div id="questionC" class="question-card" data-action="click->option-card#markCard">
            <div>
              <%= @question.c %><p>C</p>
            </div>
          </div>

          <div id="questionD" class="question-card" data-action="click->option-card#markCard">
            <div>
              <%= @question.d %><p>D</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div id="question-buttons" style="display:flex; justify-content: space-around; align-items: center; width: 400px; margin: 0 auto;">
      <button class="btn btn-primary" data-controller="next-question" data-action="click->next-question#confirm">Confirm answer</button>
    <br><br>
    <%= button_to 'Next question', question_path(@question.id + 1), method: :get, id:"btn-next-question", class:"btn btn-success", disabled: true %>
  </div>

</div>
