<% last_question = @question.lesson.questions.last == @question %>

<div class="question-page">
  <!--TOP PART-->
  <div class="question-top-part animate__animated animate__fadeIn">
    <div class="question-close-box">
      <%= link_to user_path(current_user), data: { confirm: "Tem certeza que deseja sair da aula?" }, class:"question-cancel-btn" do %>
        <i class="fa-solid fa-circle-xmark question-cancel-btn"></i>
      <% end %>
    </div>
    <div class="bar-container-part">
      <div class="bar-container">
        <div class="bar-evolution">
          <div class="bar-deco"></div>
        </div>
      </div>
    </div>
    <div class="hearts" data-hearts-amount="<%= current_user.lives %>" data-last-question="<%= last_question %>">
      <%= "💗" * current_user.lives %><%= "🖤" * (5 - current_user.lives)%>
    </div>
  </div>
  <!--END OF TOP-->

  <!--BODY-->
  <div class="container-question-page animate__animated animate__fadeIn animate__delay-1s">
    <div class="container-parts" data-question-type="<%= @question.question_type %>">
      <%= render @question.question_type, question: @question, answer_id: @answer_id %>
    </div>
  </div>
  <!--END OF BODY-->

  <!--FOOTER-->
  <% current_question_i = @question.lesson.questions.index(@question) %>
  <% next_question = @question.lesson.questions[current_question_i + 1]  %>
  <%= render "#{@question.question_type}_footer", question: @question, last_question: last_question, current_question_i: current_question_i, next_question: next_question%>
  <!--END OF FOOTER-->

</div>
