<div class="container">
  <div class="container-parts">
    <div class="bar-container-part">
      <div class="bar-container">
        <div class="bar-evolution">
          <div class="bar-deco">
          </div>
        </div>
      </div>
    </div>
    <div class="question-container">
        <h1 style="margin-bottom: 100px"><%= @question.statement %></h1>
      <div>
        <div class="question-cards">

          <div class="question-card">
            <div>
              <%= @question.a %><p>A</p>
            </div>
          </div>

          <div class="question-card">
            <div>
              <%= @question.b %><p>B</p>
            </div>
          </div>
          <div class="question-card">
            <div>
              <%= @question.c %><p>C</p>
            </div>
          </div>
          <div class="question-card">
            <div>
              <%= @question.d %><p>D</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
