<!-- cx and cy should be half of scss $circle-size -->
<% cxcy = "100px"; %>
<div class="dashboard">
  <svg>
    <circle class="bg" cx="<%= cxcy %>" cy="<%= cxcy %>" r="60" />
    <circle class="meter-1" style="--circleBarFill: <%= bar_fill %>; --barColor: <%= bar_color %>" cx="<%= cxcy %>" cy=<%= cxcy %> r="59" />
  </svg>
</div>
