
<div class = "banner" >
  <div class="banner__text">
      <h1><%=@product.title%></h1>
        <p>Entenda o que é, quais os tipos e como investir</p>
  </div>
</div>

<div class="container">
  <hr>
    <h2>O que é?</h2>
  <hr>
    <div><%=@product.definition%></div>
  <hr>
    <h3>Quais os tipos?</h3>
  <hr>
    <div><%=@product.kind%></div>
  <hr>
    <h4>Como investir?</h4>
  <hr>
    <div><%=@product.how_to_invest%></div>
</div>

<div class="container_btn">
  <%= link_to "Voltar", products_path, class:"btn btn-product" %>
</div>
